
img {
    display: block;
    margin: 0 auto;
    max-width: 300px;
}

button {
    background-color: rgb(2, 0, 128) ;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.navbar {
    background-color: #333333;
    padding: 10px;
    display: flex;
    justify-content: right;
}

.navbar a{
    color: rgba(255, 255, 255, 0.37);
    text-decoration: none;
    padding: 10px 20px ;
}

.navbar a:hover {
    background-color: rgb(128, 128, 128);
}

.container {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.text {
    flex: 1;
}

.text h2 {
    color:rgb(43, 46, 226);
}

.text p {
    color:rgb(43, 153, 226);
}

.image img{
    max-width: 100%;
    border-radius: 8px;
}

@media (max-width: 768px)
{
    .container{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
        text-align: center;
    }
}

